<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="myrobot2">
    <xacro:include filename="$(find cha6Gazebo)/urdf/inertialMa.xacro"/>
    <xacro:include filename="$(find cha6Gazebo)/urdf/mybase2.xacro"/>
    <xacro:include filename="$(find cha6Gazebo)/urdf/camera.xacro"/>
    <xacro:include filename="$(find cha6Gazebo)/urdf/laser.xacro"/>   
    <!-- simulate hardware(camera laser...) -->
    <xacro:include filename="$(find cha6Gazebo)/urdf/gazebo/move.xacro"/> 
    <xacro:include filename="$(find cha6Gazebo)/urdf/gazebo/laserSim.xacro"/>   
    <xacro:include filename="$(find cha6Gazebo)/urdf/gazebo/cameraSim.xacro"/>   
    <xacro:include filename="$(find cha6Gazebo)/urdf/gazebo/kinectSim.xacro"/>   

</robot>