<launch>

    <param name="robot_description" textfile="$(find cha6Gazebo)/urdf/learnGa.urdf" />

    <!-- launch gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" />

    <!-- show robot in gazebo -->
    <node pkg="gazebo_ros" type="spawn_model" name="model" args="-urdf -model mycar -param robot_description"  />
</launch>
