<launch>
    <!-- joint state publisher -->
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />
    <!-- robot state publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
    <!-- control joint node -->
    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" />
    <!-- add urdf file path to param server -->
    <param name="robot_description" textfile="$(find cha6)/urdf/mybase.urdf"/>
    <!-- launch rviz -->
    <node ns="mynode1" pkg="rviz" type="rviz" name="rviz" output="screen"></node>

</launch>